Source: ros-iron-octomap-rviz-plugins
Section: misc
Priority: optional
Maintainer: Armin Hornung <armin@hornung.io>
Build-Depends: debhelper (>= 9.0.0), liboctomap-dev, libqt5core5a, libqt5gui5, libqt5widgets5, qtbase5-dev, ros-iron-ament-cmake-auto, ros-iron-ament-lint-auto <!nocheck>, ros-iron-ament-lint-common <!nocheck>, ros-iron-octomap-msgs, ros-iron-rclcpp, ros-iron-rviz-common, ros-iron-rviz-default-plugins, ros-iron-rviz-rendering, ros-iron-ros-workspace
Homepage: http://ros.org/wiki/octomap_rviz_plugins
Standards-Version: 3.9.2

Package: ros-iron-octomap-rviz-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liboctomap-dev, libqt5core5a, libqt5gui5, libqt5widgets5, qtbase5-dev, ros-iron-octomap-msgs, ros-iron-rclcpp, ros-iron-rviz-common, ros-iron-rviz-default-plugins, ros-iron-rviz-rendering, ros-iron-ros-workspace
Description: A set of plugins for displaying occupancy information decoded from binary octomap messages.
